<form [formGroup]="forma">
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input matInput formControlName="titulo">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Descripción del marcador</mat-label>
      <textarea rows="3" matInput formControlName="descripcion"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="guardarCambios()">Editar</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
</form>
  